.containerSearch {
  display: flex;
  margin: 1rem 0 4rem 2rem;
}

.inputSearch {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  font-size: 1rem;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  padding-bottom: 4vw;
  padding-top: 4vw;
  margin-right: 3rem;
  width: 50%;
}

.inputSearch::placeholder {
  color: white;
}
.inputSearch:focus::placeholder {
  color: transparent;
}

.searchBarBtn {
  background-color: transparent;
  color: white;
  font-size: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3vw;
}
