.cardContainer {
  display: inline-table;
  margin: 4vw;
  overflow: hidden;
  width: 35vw;
  height: 5vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 1vw;
  color: aliceblue;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);

  font-family: "Roboto", sans-serif;
}

.cardContainer:hover {
  transform: scale(1.2);
}
.divBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5vw;
}
.btnContent {
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: transparent;
  height: fit-content;
  border-radius: 15px;
  font-family: Arial;
  font-size: 4vw;
  padding-bottom: 1.5vw;
  padding-left: 3vw;
}
.citie {
  margin-bottom: 1.5vw;
  text-align: center;
  font-size: 2.2vw;
}

.actual_Weather {
  display: inline-flex;
  justify-content: space-around;
  margin-right: 1vw;
  margin-left: 0.5vw;
}
.weatherInfo {
  font-size: 1.5vw;
}

.actualTempWeather {
  display: flex;
  flex-direction: column;
  font-size: 4.5vw;
}
.weatherImg {
  width: 12vw;
  height: 12vw;
}
.maxMin {
  display: flex;
  font-size: 0.9vw;
  margin-right: 1.2vw;
  align-items: center;
}

.max,
.min {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
  margin-left: 2vw;
  height: 5vw;
  margin-bottom: 1vw;
}
.max span,
.min span {
  margin-bottom: 1vw;
}

@media (max-width: 768px) {
  .card {
    width: 70vw;
    height: 55vw;
  }

  .maxMin {
    justify-content: center;
    font-size: 2.8vw;
    margin-bottom: 4vw;
  }
  .weatherImg {
    width: 25vw;
    height: 25vw;
  }
  .citie {
    font-size: 6vw;
  }
  .weatherInfo {
    margin-top: 3vw;
    font-size: 3.1vw;
  }

  .actualTempWeather {
    font-size: 6vw;
  }
  .btnContent {
    display: flex;
    justify-content: flex-end;
    font-size: 6vw;
    padding-left: 30vw;
    padding-bottom: 4vw;
  }
}
